.nav-container {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(192, 192, 192, 1);
    justify-content: space-around;
    padding: 10px 0;
}

.navs {
    display: block;
    width: 1050px;
}

.navs_cont {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.left-nav,
.right-nav {
    padding: 12px;
    display: inline-flex;
}

.right-nav {
    padding-left: 20px;
    justify-content: space-between;
}

.left-nav {
    padding-right: 20px;
    padding-left: 0;

    img {
        width: 140px;
        height: 37px;
    }
}


.right-nav {
    p {
        display: inline;
        margin: 5px;
        font-size: 24px;
    }

    a {

        display: flex;
    }
}

.drop {
    display: inline;
}

.menu_btn {
    display: none;
    border: none;
    background: transparent none;
    padding-top: 10px;
    padding-bottom: 7px;
    cursor: pointer;

    img {
        width: 23px;
        height: 23px;
    }
}


p {
    color: rgba(133, 133, 155, 1);
}

a {
    text-decoration: none;
    color: rgba(133, 133, 155, 1);
}

body {
    padding: 0;
    margin: 0;
}

.search_div {
    display: inline;
}

.input_text {
    height: 23px;
    width: 60px;
    border: none;
    background: transparent none;
    transition-delay: 0.5s;
}

.search_img {
    height: 23px;
}

.search_btn {
    cursor: pointer;
    border: none;
    background: transparent none;
    padding-top: 5px;
}


.input_div {
    border: none;
    border-bottom: 1px solid rgba(192, 192, 192, 1);
    display: none;
    background: transparent none;
}


.reset_btn {
    border: none;
    cursor: pointer;
    background: transparent none;

    img {
        height: 15px;
    }
}

.log_in_btn {
    padding-top: 5px;

    img {
        max-height: 23px;
    }
}

.page1 {
    padding-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.page1_cont {
    display: inline-block;
    align-items: center;
    width: 1050px;
}

.page1_cont_flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.page1_text_head {
    color: rgba(133, 133, 155, 1);
    display: inline-block;

    p {
        font-size: 30px;
    }

    h2 {
        font-size: 40px;
    }
}


.page1_text {
    display: inline-block;
    max-width: 445px;
    max-height: 361px;
}


.catalog {
    display: inline-block;
    border: 1px solid;
    padding: 22px 89px;

}

.page2 {
    display: flex;
    background-color: rgba(196, 196, 196, 1);
    padding: 30px 0;
    width: 100%;
    justify-content: space-around;

}

.page2_cont {
    display: block;
    width: 1050px;
}

.page2_head {
    display: flex;
    justify-content: space-between;

}

.page2_head_imgs {
    width: 160px;
    height: 110px;
}

.page2_head_v {
    display: inline-flex;
    border-top: 1px solid rgb(84, 77, 77);
    padding-top: 10px;
}

.page2_head_v_text {
    max-width: 81px;
}

.page2_main {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.page2_main_text {
    max-width: 350px;
    max-height: 445px;

    p {
        font-size: 20px;
        margin-right: 0;
    }

    h2 {
        color: rgba(102, 102, 102, 1);
        margin-right: 0;
        font-weight: bold;
        font-size: 40px;
    }
}

.page2_main_img {
    width: 730px;
}

.page3 {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    width: 100%;
}

.page3_cont {
    display: block;
    width: 1050px;
}

.page3_conts_1, .page3_conts_1_inline, .page3_conts_2, .page3_conts_2_inline {
    display: inline;
}

.page3_cont_v {
    display: inline-block;
    padding: 0 3px;

    figure {
        margin: 0;
    }
}

#page3_v1 {
    padding-left: 0;
}

#page3_v4 {
    padding-right: 0;
}

.card {
    width: 255px;
    height: 180px;
}

.page4 {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    border-bottom: 1px solid rgba(133, 133, 155, 1);
    border-top: 1px solid rgba(133, 133, 155, 1);
    width: 100%;
}

.page4_cont {
    display: block;
    width: 1050px;
}

.page4_cont_flex {
    display: flex;
    justify-content: space-between;
}

.page4_v {
    display: inline;

    a {
        text-decoration: none;

        img {
            height: 55px;
            width: 110px;
        }
    }
}

.buy {
    display: inline-block;
    border: 1px solid;
    padding: 10px 30px;
}

.page5 {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    width: 100%;
}

.page5_cont {
    display: block;
    width: 1050px;
}

.page5_cont_flex {
    display: flex;
    justify-content: space-between;
}

.page5_text {
    display: inline-block;
    max-width: 350px;
    max-height: 272px;
    width: 100%;
    margin-bottom: 10px;

    h2 {
        color: rgba(102, 102, 102, 1);
        font-weight: bold;
        font-size: 40px;
    }

    p {
        font-size: 23px;
    }
}


.page6 {
    display: flex;
    justify-content: space-around;
    background-color: rgba(76, 88, 102, 1);
    padding: 20px 0;
    width: 100%;
}

.page6_cont {
    display: block;
    width: 1050px;
}

.page6_cont_flex {
    display: flex;
    justify-content: space-between;
}

.social {
    display: flex;
    justify-content: space-between;
}

.social {
    a {
        margin-left: 6px;
        margin-right: 6px;
    }
}

.cont_block {
    display: block;
}

@media (max-width: 1110px) {

    .navs,
    .page1_cont,
    .page2_cont,
    .page3_cont,
    .page4_cont,
    .page5_cont,
    .page6_cont {
        width: 800px;
    }

    .page1_img {
        width: 300px;
    }

    .page1_cont {
        width: 800px;
    }

    .page1_text_head {
        h2 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }
    }

    .page2_head_v {
        display: inline-block;
    }

    .page2_main_img {
        width: 330px;
    }

    .page2_main_text {
        max-width: 450px;

        p {
            font-size: 17px;
        }

        h2 {
            font-size: 25px;
        }
    }

    .page3_cont_v {
        padding: 0;
    }

    .page3_cont_flex {
        display: inline;
    }

    .page3_conts_1 {
        display: block;
    }

    .page3_conts_1_inline {
        display: flex;
        justify-content: space-evenly;
    }

    .page5_text {
        h2 {
            font-size: 30px;
        }

        p {
            font-size: 18px;
        }
    }

    .buy {
        font-size: 15px;
        padding: 10px 15px;
    }

    .page5_cont_flex {
        img {
            width: 400px;
        }
    }
}


@media (max-width: 850px) {

    .navs,
    .page1_cont,
    .page2_cont,
    .page3_cont,
    .page4_cont,
    .page5_cont,
    .page6_cont {
        width: 600px;
    }

    .navs_cont {
        display: list-item;
        list-style: none;
    }

    .left-nav {
        width: 100%;
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
    }

    .right-nav {
        width: 100%;
        padding-left: 0;
        padding-right: 0;

        p {
            font-size: 20px;
        }

        a {
            height: 23px;
        }
    }

    .search_div, search_btn {
        height: 23px;
    }

    .page1_text {
        padding-bottom: 20px;
    }

    .page5_text {
        h2 {
            font-size: 27px;
            margin: 0;
        }
    }

    .page5_cont_flex {
        img {
            width: 300px;
        }
    }
}

@media (max-width: 650px) {

    .navs,
    .page1_cont,
    .page2_cont,
    .page3_cont,
    .page4_cont,
    .page5_cont,
    .page6_cont {
        width: 300px;
    }

    .right-nav {
        display: none;

        p {
            display: block;
        }
    }

    .left-nav {
        width: auto;
    }

    .search_div, menu_btn {
        display: block;
    }

    .navs_cont {
        display: flex;
        align-items: center;
    }

    .drop {
        background-color: rgba(192, 192, 192, 1);
    }

    .menu_btn:hover, right-nav > p:hover, right-nav > a:hover, right-nav > div:hover {
        background-color: rgb(160, 160, 185);
    }

    .drop:hover .right-nav {
        display: block;
        text-decoration: none;
    }

    .search_div {
        padding-bottom: 13px;
    }

    .page1_cont_flex, .page1_text, .page1_img {
        display: block;
    }

    .page2_head {
        display: list-item;
        list-style: none;
        padding-bottom: 30px;
    }

    .page2_head_v {
        display: block;
        text-align: center;
    }

    .page2_main {
        display: list-item;
        list-style: none;
    }

    .page3_conts_1_inline {
        display: list-item;
        list-style: none;
        text-align: center;
    }

    .page3_cont_v {
        padding-bottom: 20px;
    }

    #page3_v4 {
        padding-bottom: 0;
    }

    .page4_v {
        a {
            img {
                height: 25px;
                width: 60px;
            }
        }
    }

    .page5_cont_flex {
        display: list-item;
        list-style: none;
        align-items: center;
    }

    .page5_text {
        h2 {
            display: flex;
            justify-content: space-around;
        }

        a {
            margin-left: 111px;
        }
    }

    .search_btn, .log_in_btn {
        padding-left: 5px;
    }
}